<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayloadContent</key>
	<array>
		<dict>
			<key>PayloadIdentifier</key>
			<string>7D5A6BCB-1CFD-44BC-ADCF-B511A63F69E3</string>
			<key>PayloadDisplayName</key>
			<string>Custom</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>PayloadType</key>
			<string>com.apple.ManagedClient.preferences</string>
			<key>PayloadEnabled</key>
			<true/>
			<key>PayloadContent</key>
			<dict>
				<key>com.trusourcelabs.NoMAD</key>
				<dict>
					<key>Forced</key>
					<array>
						<dict>
							<key>mcx_preference_settings</key>
							<dict>
								<key>PayloadDescription</key>
								<string>Nomad Settings</string>
								<key>MessagePasswordChangePolicy</key>
								<string>Passwords need to be 8 characters with at least 3 of the following: an uppercase letter, a lowercase letter, a number or a symbol. Plese see http://myglobe/OurPeople/Pages/PasswordPolicy20081017.aspx for the complete policy.</string>
								<key>SignInWindowAlertTime</key>
								<integer>5</integer>
								<key>PersistExpiration</key>
								<true/>
								<key>PasswordPolicy</key>
								<dict>
									<key>minNumber</key>
									<string>1</string>
									<key>minLength</key>
									<string>8</string>
									<key>minMatches</key>
									<string>3</string>
									<key>minSymbol</key>
									<string>1</string>
									<key>minUpperCase</key>
									<string>1</string>
									<key>minLowerCase</key>
									<string>1</string>
								</dict>
								<key>UseKeychain</key>
								<true/>
								<key>LocalPasswordSync</key>
								<true/>
								<key>KerberosRealm</key>
								<string>GLOBEANDMAIL.NET</string>
								<key>UPCAlert</key>
								<true/>
								<key>RenewTickets</key>
								<true/>
								<key>PayloadVersion</key>
								<integer>1</integer>
								<key>MenuGetHelp</key>
								<string>Email IT Support</string>
								<key>SecondsToRenew</key>
								<integer>7200</integer>
								<key>HideQuit</key>
								<true/>
								<key>HideRenew</key>
								<true/>
								<key>SignInWindowAlert</key>
								<true/>
								<key>ADDomain</key>
								<string>globeandmail.net</string>
								<key>GetHelpOptions</key>
								<string>mailto:ITSupport@globeandmail.com?subject=Mac%20Support%20(Sent%20via%20NoMAD)</string>
								<key>UseKeychainPrompt</key>
								<true/>
								<key>ShowHome</key>
								<false/>
								<key>GetHelpType</key>
								<string>URL</string>
								<key>SignInWindowOnLaunch</key>
								<true/>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
			<key>PayloadOrganization</key>
			<string>NoMAD</string>
			<key>PayloadDescription</key>
			<string></string>
			<key>PayloadUUID</key>
			<string>7D5A6BCB-1CFD-44BC-ADCF-B511A63F69E3</string>
		</dict>
	</array>
	<key>PayloadEnabled</key>
	<true/>
	<key>PayloadIdentifier</key>
	<string>3F216E5D-DAF5-42D4-A534-9C0C05184041</string>
	<key>PayloadDescription</key>
	<string>Manage preferences for NoMAD</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
	<key>IconOnDark</key>
	<string>/usr/local/icons/NoMADOnDark.png</string>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadUUID</key>
	<string>3F216E5D-DAF5-42D4-A534-9C0C05184041&lt;</string>
	<key>IconOff</key>
	<string>/usr/local/icons/NoMADOff.png</string>
	<key>SignInWindowOnLaunchExclusions</key>
	<array>
		<string>macadmin</string>
		<string>test</string>
	</array>
	<key>IconOn</key>
	<string>/usr/local/icons/NoMADOn.png</string>
	<key>PayloadDisplayName</key>
	<string>NoMAD Prefs v3.4</string>
	<key>PayloadRemovalDisallowed</key>
	<false/>
	<key>PayloadOrganization</key>
	<string>The Globe and Mail</string>
	<key>IconOffDark</key>
	<string>/usr/local/icons/NoMADOffDark.png</string>
	<key>PayloadScope</key>
	<string>System</string>
</dict>
</plist>
